---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Miyoko Shimura
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/miyoko-shimura"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="Miyoko on GitHub"></i>
        <span>GitHub</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://twitter.com/miyokoshimura"
        aria-label="Miyoko on Twitter"
      >
        <i class="fa-brands fa-twitter" aria-hidden="true" title="Dinesh on Twitter"></i>
        <span>Twitter</span>
      </a>
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-8">
      Hello! I'm Miyoko Shimura, a <code>Digial Tech Consultant</code> from Japan.<br><br>
      I offer strategic insights based on 8+ years in scientific analysis industry. As a <code>Mentor at the Frankfurt School Blockchain Center</code> (a German think-tank), I engage with cutting-edge technology in blockchain, cryptocurrency, and decentralized systems.<br><br>
      My aim is to educate and support individuals and organizations in advancing their businesses. <br><br>
	  Currently in the final year of my <code>BSc in Computer Science</code> during my sabbatical leave, I also hold an ASc in Mechanical Engineering.<br><br>
      Scholarships and fellowships that I am grateful to have received:<br>
	  
	  <ul class="mt-5">
    <li>
       DLT Supertalent at Frankfurt School Blockchain Center, 2023
    </li>
	<li>
	   Fellow at European Carbon Offset Tokenization Association, ECOTA, 2023<br>
	</li>
	<li>
	    Amazon AI/ML Scholarship, US, 2023<br>
	</li>
	<li>
	    Bertelsmann Technology Scholarship (Business Analytics), Germany, 2022<br><br>
     </li>
      
     
      

    🛠️ I built and run websites and 20+ social media outlets concerning professional communities (2K+ members), educational organizations, and an online cake shop “Sweets & Suites”, that has been featured in several Japanese media outlets. <br>

 <ul class="mt-5">
    <li>
       Nikkan Gendai https://www.nikkan-gendai.com/articles/view/life/302912
    </li>
    <li>
       Nikkei CNBC https://www.youtube.com/watch?v=1nZdQKYmGvY
	</li>

Establishing compassionate societal relationships is a driving force behind entrepreneurial spirit.<br><br>

📊 Skilled in data analysis, critical thinking, problem-solving, digital marketing strategy, and mentoring through fostering positive work environments.<br><br>
🌐 Accustomed to German culture and politics, having successfully completed the Integration Course at Darmstadt VHS.<br><br>
💚 With a humanitarian focus, I assist people in overcoming financial barriers to pursue higher education as a Student Ambassador at UoPeople.<br><br>

Views are my own. Miyoko Shimura<br><br><br>-----Under construction. Please check back soon for updates.-----<br><br><br><br>

      <a href={"https://github.com/flexdinesh/blogster"} target="_blank"
        >Blogster</a
      >. Available in four themes
      <a href={"https://blogster-minimal.netlify.app"} target="_blank"
        >minimal</a
      >,
      <a href={"https://blogster-sleek.netlify.app"} target="_blank">sleek</a>,
      <a href={"https://blogster-newspaper.netlify.app"} target="_blank"
        >newspaper</a
      > and
      <a href={"https://blogster-bubblegum.netlify.app"} target="_blank"
        >bubblegum</a
      >. This blog is a demo for <strong>newspaper</strong> theme. Get started with
      one simple command.
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">npx create-blogster@latest --theme newspaper</code
      >
    </p>
  </div>
</section>
